:root {
  --text: #17140c;
  --darkText: #F0F0F0;
  --background: #f4f1eb;
  --primary: #f7a400;
  --secondary: #f8e1b5;
  --accent: #8914c8;
  --accentHover: var(--primary);
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

p {
  color: var(--text);
}

/* Headings */
.big-heading {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Section */
.colored-section {
  background-color: var(--primary);
  color: var(--darkText);
}

.white-section {
  background-color: var(--background);
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  font-size: 1.25rem;
  padding-left: 18px;
  padding-right: 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: lighter;
}

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.header-pic {
  margin: 0 0 0 3%;
  position: absolute;
  transform: rotate(25deg);
  max-width: 60%;
}

/* Features Section */
#features {
  position: relative;
  z-index: 1;
}

.feature-icon {
  color: var(--accent);
  font-size: 5rem;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: var(--accentHover);
}

.feature-title {
  color: var(--text);
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.5;
}

/* Testimonials Section */
#testimonials {
  background-color: var(--primary);
  color: var(--Text)
}

.testimonial-text {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}

.testimonial-image {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

/* Press Section */
#press {
  background-color: var(--secondary);
  padding-bottom: 3%;
}

.press-logo {
  margin: 20px 20px 50px;
  width: 15%;
}

/* Pricing Section */
#pricing {
  padding: 5%;
}

.price-text {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}

.pricing-col {
  padding: 3% 2%;
}

/* Footer Section */
#footer {
  background-color: var(--background);
}

.social-icon {
  font-size: 1.5rem;
  margin: 1rem;
}

.copy-text {
  font-size: 1.25rem;
}

/* Media Queries */
@media (max-width: 992px) {
  .header-pic {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}